{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
  {% block css-files %}
  {% endblock %}
</head>

<body>
  {% block nav-bar %}
    <!--  Default Navigator Bar -->
    <div class="ui top fixed menu borderless inverted">
      <div class="ui container">
        <div class="left item">
          <a href="/bookExpert/"> <img class="nav-logo-img" src="{% static 'images/logo-white.png' %}"> </a>
          <div> <h2 class="logo-text"> Game Expert</h2></div>
        </div>
        <div class="right item">
          <a href="/bookExpert/recommendation/"><button class="ui inverted basic button index-button">Recommendation</button> </a>
          {% if not user.is_authenticated %}
            <a href="/bookExpert/login/"><button class="ui inverted basic button">Login</button> </a>
            <a href="/bookExpert/signup/"><button class="ui inverted basic button">Signup</button> </a>
          {% endif %}

          {% if user.is_authenticated %}
            <div class="ui right dropdown item">
              <span style="color: white"> {{ user.username }} </span>
              <i class="dropdown icon"></i>
              <div class="menu">
                <!--<div class="item" id="liked-games-button">Liked Games</div> -->
                <a href="/bookExpert/logout/" class="item">Logout</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock %}

  {% block content %}
    <!--  Main content -->
  {% endblock %}
  <script src="{% static 'js/base.js' %}"></script>
  {% block js-files %}
    <!-- Additional Scripts -->
  {% endblock %}
  <script>
    $('.ui.dropdown').dropdown();
  </script>
</body>

</html>
