{% extends "base.html" %}
{% load static %}

{% block css-files %}
  <link rel="stylesheet" href="{% static 'css/log.css' %}"/>
{% endblock %}
{% block content %}
  <div class="main-container"> 
    <div class="ui container">
      {% if not user.is_authenticated %}
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui teal image header">
              <div class="content">
                Log-in to your account
              </div>
            </h2>
            <form class="ui large form" method="post" action="{% url 'login' %}"> {% csrf_token %}
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ form.username }}
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{ form.password }}
                  </div>
                </div>
                <button type="submit" value="login" class="ui fluid large teal submit button">Login</button>
                {% if form.errors %}
                  <div class="error-message">
                    Your username and password didn't match. Please try again.
                  </div>  
                {% endif %}
              </div>
              <input type="hidden" name="next" value="{{ next }}" />          
            </form>

            <div class="ui message">
              New to us? <a href="/bookExpert/signup/">Sign Up</a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if user.is_authenticated %}
        <p> You are already logged in </p>
      {% endif %}      
    </div>
  <div>
{% endblock %}