{% extends "base.html" %}
{% load static %}

{% block css-files %}
  <link rel="stylesheet" href="{% static 'css/recommendation.css' %}"/>
{% endblock %}

{% block content %}
  <div class="sidebar">
    <button class="huge ui button" id="search-button">
      <i class="search icon"></i>
      Search
    </button>
    <div class="option-container" name="genre">
      <div class="option-header"> Genre </div>
      <div class="option-body">
        <div class="option-item" value="adventure"> Adventure </div>
        <div class="option-item" value="survival"> Survival </div>
        <div class="option-item" value="puzzle"> Puzzle </div>
        <div class="option-item" value="action"> Action </div>
        <div class="option-item" value="racing"> Racing </div>
        <div class="option-item" value="sports"> Sports </div>
        <div class="option-item" value="simulation"> Simulation </div>
        <div class="option-item" value="role-playing"> Role-playing </div>
        <div class="option-item" value="first-person-shooter"> First Person Shooter </div>
        <div class="option-item" value="mmo"> Massive Multiplayer Online </div>
      </div>
    </div>
    <div class="option-container" name="game-mode">
      <div class="option-header"> Mode </div>
      <div class="option-body" style="display: none">
        <div class="option-item" value="single-player"> Single player </div>
        <div class="option-item" value="multiplayer"> Multiplayers </div>
      </div>
    </div>
    <div class="option-container" name="platform">
      <div class="option-header"> Platform </div>
      <div class="option-body" style="display: none">
        <div class="option-item" value="PC"> PC </div>
        <div class="option-item" value="PS4"> PS 4 </div>
        <div class="option-item" value="XboxOne"> Xbox </div>
        <div class="option-item" value="Android"> Android </div>
        <div class="option-item" value="iOS"> iOS </div>
        <div class="option-item" value="OSX"> OSX </div>
        <div class="option-item" value="Linux"> Linux </div>
      </div>
    </div>
    <div class="option-container" name="age-range">
      <div class="option-header"> Age Range </div>
      <div class="option-body" style="display: none">
        <div class="option-item" value="E"> everyone </div>
        <div class="option-item" value="E10+"> everyone 10+  </div>
        <div class="option-item" value="T"> Teen</div>
        <div class="option-item" value="M"> Mature </div>
        <div class="option-item" value="A"> Adults only </div>
      </div>
    </div>
    <div class="option-container" name="difficulty">
      <div class="option-header"> Difficulty </div>
      <div class="option-body" style="display: none">
        <div class="option-item" value="Simple"> Simple </div>
        <div class="option-item" value="Easy"> Easy </div>
        <div class="option-item" value="Just Right"> Just Right </div>
        <div class="option-item" value="Tough"> Tough </div>
        <div class="option-item" value="Unforgiving"> Unforgiving </div>
      </div>
    </div>
  </div>
  <div class="main-container-wrapper">
    <div id="main-container">

      <div class="active ui text loader" id="main-container-loader" style="display: none">Loading</div>

      <div class="ui dividing header recommendation-header">
        <h2 class="">Recommended games for you</h2>
      </div>
      <div class="ui dividing header search-result-header" style="display:none">
        <h2 class="">Search results</h2>
      </div>

      <div class="ui warning message" id="main-container-warning" style="display: none">
        <i class="close icon"></i>
        <div class="header">
          There is no game matching your query
        </div>
        You can try changing your selection.
      </div>

      <div class="ui error message" id="main-container-error" style="display: none">
        <i class="close icon"></i>
        <div class="header">
          Some error occurs
        </div>
        You can try by reloading the page or checking your internet connection
      </div>
    </div>

    <div class="fullscreen ui modal" id="card-detail-container">
      <div class="card-detail-main">
        <div class="card-detail-image-wrapper">
          <img class="card-detail-image" src="" onerror="this.src={% static 'images/default.jpg' %}"/>
        </div>
        <p class="card-detail-description"> </p>
      </div>
      <div class="card-detail-extra">
        <h2 class="card-detail-name"> </h2>
        <section class="card-detail-content-list">
        </section>
        <section class="card-detail-status">
          <i class="thumbs outline up icon like-button" onClick="likeButtonClicked()"></i>
          <span class="card-detail-like-count"> </span>
          <i class="thumbs outline down icon dislike-button" onClick="dislikeButtonClicked()"></i>
          <span class="card-detail-dislike-count"> </span>
        </section>
        <section class="ui comments card-detail-comments">
          <div class="ui dividing header card-detail-comment-header">
            <h3 class="">Comments</h3>
            <i class="edit icon" onClick="toggleReviewForm()" style="cursor: pointer"></i>
          </div>
          <form id="review-form" class="ui form error" style="display: none"> {% csrf_token %}
            <div class="field">
              <textarea name="review-comment" rows="3" placeholder="Your comment here ..." required></textarea>
            </div>
            <div class="inline fields">
              <button class="ui submit teal button" type="submit"><i class="icon edit"></i> Submit</button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
  <div id="card-template" class="card-container">
    <div class="card-image-wrapper">
      <img class="card-image" src="" src="" onerror="this.src={% static 'images/default.jpg' %}"/>
    </div>
    <div class="card-content">
      <div class="card-name"> Game </div>
      <div class="card-status">
        <i class="thumbs outline up icon"></i>
        <span class="card-like-count"> </span>
        <i class="thumbs outline down icon"></i>
        <span class="card-dislike-count"> </span>
      </div>
    </div>
  </div>
{% endblock %}
{% block js-files %}
  <script>
    var isLogin = false;
  </script>
  {% if user.is_authenticated %}
    <script>
      isLogin = true
    </script>
  {% endif %}
  <script src="{% static 'js/recommendation.js' %}"> </script>
{% endblock %}
