{% extends "base.html" %}
{% load static %}

{% block css-files %}
  <link rel="stylesheet" href="{% static 'css/log.css' %}"/>
{% endblock %}
{% block content %}
  <div class="main-container"> 
    <div class="ui container">
      {% if not user.is_authenticated %}
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui teal image header">
              <div class="content">
                Create new account
              </div>
            </h2>
            <form class="ui large form" method="post" action="{% url 'signup' %}"> {% csrf_token %}
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ form.username }}
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="mail icon"></i>
                    {{ form.email }}
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{ form.password1 }}
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{ form.password2 }}
                  </div>
                </div>
                <button type="submit" value="login" class="ui fluid large teal submit button">Register</button>
                {% if form.errors %}
                  <div class="error-message">
                    {{ form.errors }}
                  </div>  
                {% endif %}
              </div>

              
              <input type="hidden" name="next" value="{{ next }}" />          
            </form>

            <div class="ui message">
              Already have account? <a href="/bookExpert/login/">Log In</a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if user.is_authenticated %}
        <p> You are already logged in </p>
      {% endif %}      
    </div>
  <div>
  <script>
    var errors = $(".error-message ul li ul li");
    var content = "";
    for (var i = 0; i < errors.length; i++) {
      content += "<div>" + $(errors[i]).html() + "</div>";
    }
    
    $(".error-message").empty().append("<div>" + content + "</div>");
  </script>
{% endblock %}